<div id="tutorial-main">
    <div class="title">
        <i></i> <span class="$theme">$i18n.get("title")</span>

        <div class="group">
            <span class="label small">$i18n.get("label.title")</span>
            <a class="btn small" id="xview_popup">$i18n.get("btn.xview")</a>
            <a class="btn small" id="active_popup">$i18n.get("btn.active")</a>
        </div>
    </div>

    <div class="row">
        <div class="col col-12"><div id="WebGL-output"></div></div>
    </div>

    <div class="copyright">$copyright</div>
</div>